
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: url(img/fundo.jpg);
  background-size: cover;
  
}

h1 {
  color: goldenrod;
  text-align: center;
  font-size: 2.5em;
}

#message-el {
  font-style: italic;
 
}
.container{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  
  color: #fff;
}
button {
  color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 4px;

}